*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #031341;
    color: white;
    margin: 16px;
}

/* header sections css */

.name{
    font-size: 20pt;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
    margin-top: 50px;
    min-height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    padding: 0px;
    
    border-bottom: 2px solid #94aeae;
    
}



.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.burger span{
display: block;
height: 4px;
background: white;
border-radius: 5px;
}

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 50px;
    right: 20px;
    width: 200px;
    border-radius: 5px;
    box-shadow:0 4px 6px rgba(0, 0, 0, 0.1) ;
}

.menu li{
    padding: 10px 20px;
    cursor: pointer;
}

.menu li a{
    color:black;
    text-decoration: none;
}

.menu li:hover{
    text-decoration: underline 1px white;
    text-underline-offset: 6px;
}

.menu.show{
    display: flex;
}

h2{
    font-size: 48px;
}

.contact{
    text-decoration: underline 1px white;
    text-underline-offset: 6px;
}


.input button a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* main css */

.socialLinks{
    display: flex;
    gap:8px;
    margin-top: 15px;
} 

main{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.input{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 16px;
    margin-right: 16px;
}

.input input{
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    background-color: #ADB2C1;
    
}

textarea{
    padding: 10px;
    border-radius: 8px;
    background-color: #ADB2C1;
    margin: 10px;
    height: 300px;

    
}

.pitch h1{
    font-size: 48px;
}

.pitch p{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom:20px;

}

.input{
    padding: 16px;
    background-color: white;
    border-radius: 8px;
}

.input button{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 32px;
    background-color: #00FFFF;
    border-radius: 4px;
    width:140px;
}

.send{
    color: black;
    margin-bottom: 8px;
    padding: 16px;
    font-size: 32px;
}
/* Footer sections css */
footer ul li{
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: white;
}

footer ul {
    display: flex;
    gap: 16px;
}

footer{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links{
    margin-bottom: 4px;
}

/* media queries for responsiveness */


@media (min-width: 440px){
    
    
}



@media (min-width: 576px){

    body{
        margin-left: 60px;
        margin-right: 60px;
    }

    main{
        flex: 1;
        margin-top: 70px;
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        justify-content: space-around;
    }
    
    .input{
        padding: 16px;
        background-color: white;
        border-radius: 8px;
        width: 40%;
        margin-top: 10px;
        height: fit-content;
    }

    textarea{
        padding: 10px;
        border-radius: 8px;
        background-color: #ADB2C1;
        margin: 10px;
        height: 300px;
    }

    .header {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .burger {
        display: none;
    }
    
    footer{
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline; 
    }

    footer .links{
        order: 2;
    }

    footer p{
        order: 1;
    }

    .menu{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        
        flex-direction: row;
        background-color: transparent;
        width: fit-content;
        position: static;
        top: auto;       
        left: auto;
        right: auto;
        bottom: auto;
        box-shadow:0 4px 6px rgba(0, 0, 0, 0.1) ;
    }

    

    .menu li a{
        color: white;
    }

    .menu li {
        
        width: fit-content;
        
        padding: 0;
        margin: 10px;
        
    } 
  }


  @media (min-width: 769px) {

   
    header {
      display: flex;
      justify-content: space-between;
      
    }
  
    .burger {
        display: none;
    }

  }



  @media (min-width: 1024px){
    body{
        margin-left: 120px;
        margin-right: 120px;
    }
  }









