*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #031341;
    color: white;
    margin: 16px;
}

.name{
    font-size: 20pt;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
    margin-top: 100px;
}

.play_button{
    margin-top: 100px;
    font-size: 30px;
    background: none;
    border: none;
    color: #00FFFF;
}

.listen{
    margin-bottom: -90px;
    margin-top: 30px;
}

.header{
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    padding: 0px;
    
    border-bottom: 2px solid #94aeae;
    
}


.content button a {
    text-decoration: none;

    color: black;
}

.figureAndContent button a{
    text-decoration: none;
    color: black;
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.burger span{
display: block;
height: 4px;
background: white;
border-radius: 5px;
}

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 50px;
    right: 20px;
    width: 200px;
    border-radius: 5px;
    box-shadow:0 4px 6px rgba(0, 0, 0, 0.1) ;
}

.menu li{
    padding: 10px 20px;
    cursor: pointer;
}

.menu li a{
    color:black;
    text-decoration: none;
}

.home{
    text-decoration: underline 1px white;
    text-underline-offset: 6px;
}

.menu li:hover{
    text-decoration: underline 1px white;
    text-underline-offset: 6px;
}

.menu.show{
    display: flex;
}

.subheading{
    font-size: 18px;
    margin-top: 15px;
}

.main h1{
    font-size: 49px;
}

figure img{
    width: 200px;
    height: auto; 
}

figure{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

figure button{  
    padding:  6px 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #00FFFF;
}

.content button{
    
    width: 118px;
    height: 41px;
    font-size: 22px;
    border-radius: 10px;
    background-color: #00FFFF;
    margin-top: 15px;
    display: none;
}

/* .facebook .github .linkden .telegram{
    background: #fff; 
    border-radius: 50%; 
    padding: 10px;
}
*/

.socialLinks{
    display: flex;
    gap:8px;
    margin-top: 15px;
} 






/* footer links */

footer ul li{
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: white;
}

footer ul {
    display: flex;
    gap: 16px;
}


footer{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links{
    margin-bottom: 4px;
}


@media (min-width:420px) and (max-width:575px)  {
    figure button{
        width: 118px;
        padding:  6px 0px;
        font-size: 18px;
        border-radius: 10px;
        background-color: #00FFFF;
    }

    figure img{
        width: 300px;
        height: auto;
        margin-top: -20px; 
    }
    
    main{
        
        margin-top: 70px;
    }
}

@media (min-width: 576px)  {

    body{
        margin-left: 60px;
        margin-right: 60px;
    }

    main{
        
        margin-top: 100px;
    }

    .header {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .burger {
        display: none;
    }
    .content button{
        display: block;
    }
    figure button{
        display: none;
    }
    .figureAndContent{
        display: flex;
    }

    figure button{
        width: 118px;
        padding:  6px 0px;
        font-size: 18px;
        border-radius: 10px;
        background-color: #00FFFF;
    }

    figure img{
        width: 300px;

        height: auto;
        margin-top: -50px; 
    }

   
    

    footer{
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        
    }

    footer .links{
        order: 2;

    }

    footer p{
        order: 1;

    }

    .menu{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        width: fit-content;
        position: static;
        top: auto;       
        left: auto;
        right: auto;
        bottom: auto;
        box-shadow:0 4px 6px rgba(0, 0, 0, 0.1) ;
    }

    

    .menu li a{
        color: white;
    }

    .menu li {
        
        width: fit-content;
        
        padding: 0;
        margin: 10px;
        
    }
  }


  @media (min-width: 769px) {

   
    header {
      display: flex;
      justify-content: space-between;
      
    }
  
    .burger {
        display: none;
    }

    

    figure img{
        width: 300px;
        height: auto;
        margin-top: -50px;
        margin-right:50px;
    }


  }

  @media (min-width: 1024px){
    body{
        margin-left: 120px;
        margin-right: 120px;
    }

    figure img{
        width: 400px;
        height: auto;
        margin-top: -50px;
        margin-right:50px;
    }

    .socialLinks{
        margin-top: -50px;
    }

  }









